body{
    background-color: rgba(165, 206, 241, 0.61);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 30px;;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.container{
    text-align: center;
    margin-top: 50px;
}

.card{
    display: inline-block;
}

.image-one{
    background-image: url("./image/frontend.jpg");
    background-size: cover;
    background-position: center;
    width: 365px;
    height: 300px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 22px;
    padding: 10px;
}

.image-two{
    background-image: url("./image/backend.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    width: 365px;
    height: 300px;
    border: 5px dotted rgb(18, 228, 98);
    margin: 22px;
    padding: 10px;
}

.image-three{
    background-image: url("./image/data_analyst.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: repeat-y;
    width: 365px;
    height: 300px;
    border: 5px dashed rgb(228, 243, 12);
    margin: 22px;
    padding: 10px;
}

.content{
    background-color: rgb(96, 83, 172);
    width: 365px;
    margin: 22px;
    padding: 10px;
}